<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Rapport identitovigilance</title>
    <link rel="stylesheet" href="templates/styles.css" />
    <style>
      :root {
        --version: "{{ version }}";
      }
    </style>
  </head>

  <body>
    <div class="text-center">
      <h1>Rapport identitovigilance</h1>
      <h2>Service de Biochimie - Génétique Moléculaire</h2>
    </div>

    <div class="metadata">
      <p><strong>Date :</strong> {{ date }}</p>
      <p><strong>Fichier :</strong> {{ filename }}</p>
      <p><strong>Interprétateur :</strong> {{ interpreter }}</p>
      <p><strong>Semaine d'extraction :</strong> {{ week }}</p>
      <p><strong>Série conforme :</strong> {{ serie }}</p>
      <p><strong>Commentaire :</strong> {{ comment }}</p>
      <p><strong>Série validée :</strong> Oui&nbsp;&nbsp;&nbsp;&nbsp;Non</p>
    </div>

    <h2>Comparaison Intra-Patients</h2>
    {% if errors_intra > 0 %}
    <div class="error">
      Erreur : {{errors_intra}} échantillon(s) incohérent(s) détecté(s).
    </div>
    {% else %}
    <div class="success">Tous les échantillons sont cohérents.</div>
    {% endif %}
    <div class="table-container">{{ df_intra | safe }}</div>

    <h2>Comparaison Inter-Patients</h2>
    {% if errors_inter > 0 %}
    <div class="error">Incohérence(s) détectée(s) entre les échantillons.</div>
    {% else %}
    <div class="success">Tous les échantillons sont cohérents.</div>
    {% endif %}
    <div class="table-container">{{ df_inter | safe }}</div>
  </body>
</html>
